#my-mug {
    float: left;
    margin-right: 2%;
    height: 240px;
    position: relative;
    top: 8px;
    margin-bottom: 1em;
}

.section-text {
    line-height: 2em;
    margin-top: 3%;
}

@media screen and (max-width: 640px) {
    #my-mug {
        width: 100%;
        height: 35em;
    }
}