.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1.5%;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 30%;
    max-width: 32%;
    max-height: 25%;
    margin-left: 1.6%;
    margin-bottom: 2%;
    position: relative;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    height: 100%;
    max-height: 270px;
}

.column h3 {
    position: absolute;
    bottom: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 22px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 980px) {
    .column {
        flex: 50%;
        max-width: 48%;
    }

    .column h3 {
        font-size: 19px;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
    .column {
        flex: 40%;
        max-width: 50%;
    }
}

@media screen and (max-width: 640px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }

    .column img {
        max-height: 350px;
    }
}